In [1]:
import pandas as pd

df = pd.read_csv("netflix_titles.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [2]:
def handle_missing_values(df):
    missing_rows = df[df.isna().any(axis=1)]
    print("Rows with missing values:")
    print(missing_rows)

    df_cleaned = df.dropna()

    return df_cleaned

df = handle_missing_values(df)

Rows with missing values:
     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8795   s8796  TV Show        Yu-Gi-Oh! Arc-V              NaN
8796   s8797  TV Show             Yunus Emre              NaN
8797   s8798  TV Show              Zak Storm              NaN
8800   s8801  TV Show     Zindagi Gulzar Hai              NaN
8803   s8804  TV Show            Zombie Dumb              NaN

                                                   cast  \
0                                                   NaN
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                   NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
...                                                 ...
8795  Mike Liscio, Emily Bauer, Billy Bob Thompson, ...
8796  Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...
8797  Michael Johnston, Jessica Gee-George, Christin...
8800  Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...
8803                                                NaN

                                            country          date_added  \
0                                     United States  September 25, 2021
1                                      South Africa  September 24, 2021
2                                               NaN  September 24, 2021
3                                               NaN  September 24, 2021
4                                             India  September 24, 2021
...                                             ...                 ...
8795                                  Japan, Canada         May 1, 2018
8796                                         Turkey    January 17, 2017
8797  United States, France, South Korea, Indonesia  September 13, 2018
8800                                       Pakistan   December 15, 2016
8803                                            NaN        July 1, 2019

      release_year rating   duration  \
0             2020  PG-13     90 min
1             2021  TV-MA  2 Seasons
2             2021  TV-MA   1 Season
3             2021  TV-MA   1 Season
4             2021  TV-MA  2 Seasons
...            ...    ...        ...
8795          2015  TV-Y7  2 Seasons
8796          2016  TV-PG  2 Seasons
8797          2016  TV-Y7  3 Seasons
8800          2012  TV-PG   1 Season
8803          2018  TV-Y7  2 Seasons

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8795                             Anime Series, Kids' TV
8796                  International TV Shows, TV Dramas
8797                                           Kids' TV
8800  International TV Shows, Romantic TV Shows, TV ...
8803             Kids' TV, Korean TV Shows, TV Comedies

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8795  Now that he's discovered the Pendulum Summonin...
8796  During the Mongol invasions, Yunus Emre leaves...
8797  Teen surfer Zak Storm is mysteriously transpor...
8800  Strong-willed, middle-class Kashaf and carefre...
8803  While living alone in a spooky town, a young g...

[3475 rows x 12 columns]

In [4]:
def remove_duplicates(df):

    duplicates = df[df.duplicated()]
    
    if not duplicates.empty:
        print("Duplicate rows found:")
        print(duplicates)
    else:
        print("No duplicates found in dataset. Demonstrating with example:")

        example = pd.DataFrame({
            "title": ["Movie A", "Movie B", "Movie B", "Movie C"],
            "type": ["Movie", "TV Show", "TV Show", "Movie"]
        })
        print("Example duplicates:")
        print(example[example.duplicated()])
        print("Example after removing duplicates:")
        print(example.drop_duplicates())
    
    df_cleaned = df.drop_duplicates()
    
    return df_cleaned

df = remove_duplicates(df)

No duplicates found in dataset. Demonstrating with example:
Example duplicates:
     title     type
2  Movie B  TV Show
Example after removing duplicates:
     title     type
0  Movie A    Movie
1  Movie B  TV Show
3  Movie C    Movie

In [5]:
def handle_invalid_values(df):
    if 'duration' in df.columns:

        invalid_rows = df[~df['duration'].str.contains("min", na=False)]

        if not invalid_rows.empty:

            print("Invalid duration rows:")
            print(invalid_rows)
        else:

            print("No invalid durations found in dataset. Demonstrating with example:")
            example = pd.DataFrame({
                "title": ["Movie A", "Movie B", "Show C"],
                "duration": ["90 min", "abc", "1 Season"]
            })
            print("Invalid example rows:")
            print(example[~example['duration'].str.contains("min")])
            print("Example after removing invalid values:")
            print(example[example['duration'].str.contains("min")])
        
        df_cleaned = df[df['duration'].str.contains("min", na=False)]
        return df_cleaned
    
    else:
        print("Column 'duration' not in dataset.")
        return df

df = handle_invalid_values(df)

Invalid duration rows:
     show_id     type                                             title  \
8         s9  TV Show                     The Great British Baking Show
198     s199  TV Show              King of Boys: The Return of the King
273     s274  TV Show                                     Gone for Good
276     s277  TV Show                                           Valeria
297     s298  TV Show                                          Navarasa
...      ...      ...                                               ...
8172   s8173  TV Show             Th Eena Meena Deeka Chase Comedy Show
8214   s8215  TV Show  The Blue Planet: A Natural History of the Oceans
8293   s8294  TV Show                                          The Fear
8302   s8303  TV Show                                          The Five
8599   s8600  TV Show                                   Toast of London

                                               director  \
8                                       Andy Devonshire
198                                        Kemi Adetiba
273                                  Juan Carlos Medina
276                                       Inma Torrente
297   Bejoy Nambiar, Priyadarshan, Karthik Narain, V...
...                                                 ...
8172                                      Dheeraj Berry
8214                                Alastair Fothergill
8293                                    Michael Samuels
8302                                      Mark Tonderai
8599                                    Michael Cumming

                                                   cast         country  \
8     Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...  United Kingdom
198   Sola Sobowale, Toni Tones, Richard Mofe-Damijo...         Nigeria
273   Finnegan Oldfield, Nicolas Duvauchelle, Guilla...          France
276   Diana Gómez, Silma López, Paula Malia, Teresa ...           Spain
297   Suriya, Vijay Sethupathi, Revathy, Prakash Raj...           India
...                                                 ...             ...
8172                           Sanjay Keni, Priya Raina           India
8214                                 David Attenborough  United Kingdom
8293  Peter Mullan, Anastasia Hille, Harry Lloyd, Pa...  United Kingdom
8302  Tom Cullen, O.T. Fagbenle, Lee Ingleby, Sarah ...  United Kingdom
8599  Matt Berry, Robert Bathurst, Doon Mackichan, S...  United Kingdom

              date_added  release_year rating   duration  \
8     September 24, 2021          2021  TV-14  9 Seasons
198      August 27, 2021          2021  TV-MA   1 Season
273      August 13, 2021          2021  TV-MA   1 Season
276      August 13, 2021          2021  TV-MA  2 Seasons
297       August 6, 2021          2021  TV-MA   1 Season
...                  ...           ...    ...        ...
8172      March 31, 2018          2015  TV-Y7   1 Season
8214    October 10, 2015          2001   TV-G   1 Season
8293      March 31, 2017          2012  TV-MA   1 Season
8302  September 15, 2017          2016  TV-MA   1 Season
8599   September 1, 2017          2015  TV-MA  3 Seasons

                                              listed_in  \
8                          British TV Shows, Reality TV
198   Crime TV Shows, International TV Shows, TV Dramas
273   Crime TV Shows, International TV Shows, TV Dramas
276   International TV Shows, Romantic TV Shows, Spa...
297                                            TV Shows
...                                                 ...
8172                              Kids' TV, TV Comedies
8214  British TV Shows, Docuseries, International TV...
8293        British TV Shows, Crime TV Shows, TV Dramas
8302        British TV Shows, Crime TV Shows, TV Dramas
8599   British TV Shows, Classic & Cult TV, TV Comedies

                                            description
8     A talented batch of amateur bakers face off in...
198   Alhaja Eniola Salami starts anew and sets her ...
273   Ten years after losing two loved ones, a man i...
276   A writer in creative and marital crises finds ...
297   From amusement to awe, the nine human emotions...
...                                                 ...
8172  A hungry fox and three resourceful, surprising...
8214  David Attenborough narrates this definitive ex...
8293  Richie Beckett is an aging Brighton crime boss...
8302  Twenty years after 5-year-old Jesse disappears...
8599  After a divorce and fatal career move, a class...

[147 rows x 12 columns]

In [6]:
def handle_outliers(df):
    if 'release_year' in df.columns:

        q1 = df['release_year'].quantile(0.25)
        q3 = df['release_year'].quantile(0.75)
        iqr = q3 - q1

        lower = q1 - 1.5 * iqr
        upper = q3 + 1.5 * iqr

        outliers = df[(df['release_year'] < lower) | (df['release_year'] > upper)]
        if not outliers.empty:
            print("Outlier rows in 'release_year':")
            print(outliers)
        else:
            print("No outliers found. Demonstrating with example:")
            example = pd.DataFrame({
                "title": ["Movie A", "Movie B", "Movie C", "Movie D"],
                "release_year": [1999, 2020, 1800, 3000]
            })
            print("Outlier example rows:")
            print(example[(example['release_year'] < 1990) | (example['release_year'] > 2023)])
            print("Example after removing outliers:")
            print(example[(example['release_year'] >= 1990) & (example['release_year'] <= 2023)])

        df_cleaned = df[(df['release_year'] >= lower) & (df['release_year'] <= upper)]
        return df_cleaned
    
    else:
        print("Column 'release_year' not in dataset.")
        return df

df = handle_outliers(df)

Outlier rows in 'release_year':
     show_id   type                                title          director  \
7         s8  Movie                              Sankofa      Haile Gerima
24       s25  Movie                                Jeans        S. Shankar
41       s42  Movie                                 Jaws  Steven Spielberg
42       s43  Movie                               Jaws 2    Jeannot Szwarc
43       s44  Movie                               Jaws 3         Joe Alves
...      ...    ...                                  ...               ...
8742   s8743  Movie                       Wild Wild West  Barry Sonnenfeld
8745   s8746  Movie  Willy Wonka & the Chocolate Factory        Mel Stuart
8748   s8749  Movie                 Winter of Our Dreams       John Duigan
8764   s8765  Movie                           Wyatt Earp   Lawrence Kasdan
8792   s8793  Movie                          Young Tiger            Mu Chu

                                                   cast  \
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
24    Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...
41    Roy Scheider, Robert Shaw, Richard Dreyfuss, L...
42    Roy Scheider, Lorraine Gary, Murray Hamilton, ...
43    Dennis Quaid, Bess Armstrong, Simon MacCorkind...
...                                                 ...
8742  Will Smith, Kevin Kline, Kenneth Branagh, Salm...
8745  Gene Wilder, Jack Albertson, Peter Ostrum, Roy...
8748  Judy Davis, Bryan Brown, Cathy Downes, Baz Luh...
8764  Kevin Costner, Dennis Quaid, Gene Hackman, Dav...
8792  Qiu Yuen, Charlie Chin, Jackie Chan, Hu Chin, ...

                                                country          date_added  \
7     United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
24                                                India  September 21, 2021
41                                        United States  September 16, 2021
42                                        United States  September 16, 2021
43                                        United States  September 16, 2021
...                                                 ...                 ...
8742                                      United States     January 1, 2020
8745          United States, East Germany, West Germany     January 1, 2020
8748                                          Australia    November 1, 2016
8764                                      United States     January 1, 2020
8792                                          Hong Kong    November 1, 2016

      release_year rating duration  \
7             1993  TV-MA  125 min
24            1998  TV-14  166 min
41            1975     PG  124 min
42            1978     PG  116 min
43            1983     PG   98 min
...            ...    ...      ...
8742          1999  PG-13  106 min
8745          1971      G  100 min
8748          1981     NR   86 min
8764          1994  PG-13  191 min
8792          1973     NR   81 min

                                              listed_in  \
7      Dramas, Independent Movies, International Movies
24      Comedies, International Movies, Romantic Movies
41           Action & Adventure, Classic Movies, Dramas
42                     Dramas, Horror Movies, Thrillers
43         Action & Adventure, Horror Movies, Thrillers
...                                                 ...
8742     Action & Adventure, Comedies, Sci-Fi & Fantasy
8745  Children & Family Movies, Classic Movies, Come...
8748                             Classic Movies, Dramas
8764                                 Action & Adventure
8792           Action & Adventure, International Movies

                                            description
7     On a photo shoot in Ghana, an American model s...
24    When the father of the man she loves insists t...
41    When an insatiable great white shark terrorize...
42    Four years after the last deadly shark attacks...
43    After the staff of a marine theme park try to ...
...                                                 ...
8742  Armed with an ingenious arsenal, two top-notch...
8745  Zany Willy Wonka causes a stir when he announc...
8748  After the death of a long-ago lover, married p...
8764  Legendary lawman Wyatt Earp is continually at ...
8792  Aided only by a tough female police officer, a...

[472 rows x 12 columns]